:root {
    --main-width: 90%;
    --nav-width: 95%;
}

.post-content pre,
.post-content code {
    max-width: 100%;
    overflow-x: auto;
}

/* 防止超宽屏下内容过散，最大 1200px */
.main {
    max-width: 1200px;
}

